*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

h1{
    text-align: center;
}

.tool-box{
    background-color: rgb(80, 151, 80);
    height: 5rem;
    display: flex;
    align-items: center;
}

.tool-box-priority-cont{
    background-color: white;
    height: 3rem;
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.action-btn{
    height: 3rem;
    width: 10rem;
    background-color: lightgrey;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.color{
    /* background-color: red; */
    height: 1.5rem;
    width: 3rem;
}

.lightpink{
    background-color: lightpink;
}

.lightblue{
    background-color: lightskyblue;
}

.lightgreen{
    background-color: lightgreen;
}

.black{
    background-color: black;
}

.add-btn{
    font-size: 1.5rem;
}

.remove-btn{
    font-size: 1.5rem;
}



